<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Back to Articles', articles_path %> |
<%= link_to 'Back to Users', users_path %> |
<%= link_to 'Edit User', edit_user_path(@user) %>